.provider-button {
  height: 40px;
  width: 100%;
  margin: 10px 0px;
  background-color: #fff;
  border: solid 1.5px #2779ff;
  border-radius: 5px;
}

.provider-button-content {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2779ff;
  font-family: "Cabin";
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.provider-button-content > * {
  padding: 0 4px;
}
