/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #1BAAE2;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

.btn-primary {
  width: 100%;
  padding: 1.5em;
  text-transform: uppercase;
}

.intro .btn-primary,
.quiz .btn-primary {
  border-radius: 0;
  font-size: 12px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1px;
  text-align: center;
  color: #ffffff;
}

.btn-outline-primary,
.btn-outline-secondary,
.btn-success,
.btn-danger {
  border-radius: 1em;
  width: 100%;
  text-transform: uppercase;
  font-size: 0.7em;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #FFFFFF;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: black;
  font-family: 'Cabin', sans-serif;
}

.cover-container {
  max-width: 32em;
}


/*
 * Header
 */
.masthead {
  background-color: #141923;
  font-style: sans-serif;
  font-weight: 100;
}

.masthead-brand {
  margin-bottom: 0;
  color: #FFF;
  size: 1.5em;
  letter-spacing: 0.15em;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
footer {
  width: 100%;
}

.mastfoot {
}

.blue {
  background-color: #1BAAE2;
  color: #FFF;
}

@media (min-width: 48em) {
  .smallscreen {
    margin-top: .7em;
    }
  }

/* Next main div */
#__next {
  width: 100%;
  height: 100vh;
}

.main {
  background-image: url("/homepage-map.jpg");
  width: 100%;
  background-size: contain;
  background-color: #141923;
  padding: 3em 2em;
  color: white;
}

.main p {
  font-size: 1.7em;
  padding-top: 1em;
  font-weight: lighter;
}

.result {
  width: 100%;
  background-color: white;
  padding: 3em 2em;
}

.result p {
  font-size: 1.2em;
}

.result h1 {
  font-weight: 700;
}

.white {
  width: 20px;
  height: 20px;
  margin-top: -1px;
}

main {
  color: #000;
  padding: 1em 2em;
  height: 100%;
}

.mytest {
  width:100%;
  height: calc(100% - 8em);
  background-color: white;
  background-image: url('/map.png');
  background-position: center center
}

.marker {
  margin-top: auto;
  margin-bottom: auto;
}

